html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 1.4rem;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-header {
  max-width: 95rem;
  text-align: center;
  margin: 0 auto;
}

.block-header__caption {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.block-header__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 4rem;
  margin-bottom: 4.5rem;
  position: relative;
}

.block-header__title::after {
  content: "";
  width: 6rem;
  height: 0.3rem;
  background-color: #e88183;
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block-header__desc {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #999999;
  line-height: 1.4;
  margin-bottom: 10rem;
}

@media screen and (max-width: 767px) {
  .block-header__caption {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  .block-header__title {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2.5rem;
  }
  .block-header__desc {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
}

.header {
  min-height: 100rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 129, 131, 0.8)), to(rgba(238, 215, 137, 0.8))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(238, 215, 137, 0.8)), url("../images/img-header-bg.jpg") no-repeat center/cover;
}

.header__top {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-top__logo {
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

.header-top__toggle {
  color: white;
  cursor: pointer;
  display: none;
}

.header-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__link {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.header-top__icon {
  color: white;
}

.header__content {
  max-width: 85rem;
  padding: 16rem 0 15rem;
  text-align: center;
  margin: 0 auto;
}

.header-content__caption {
  font-family: "Kaushan Script", cursive;
  font-size: 7.2rem;
  color: white;
  margin-bottom: 4rem;
}

.header-content__title {
  font-size: 15rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.header-content__title::after {
  content: "";
  width: 6rem;
  height: 0.3rem;
  background-color: white;
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-content__button {
  display: inline-block;
  padding: 1.2rem 3rem;
  border: 3px solid white;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.header__bottom {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-bottom__item {
  color: white;
  border-top: 0.3rem solid white;
  width: calc(25% - 2.3rem);
  padding-top: 25px;
  opacity: 0.6;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-bottom__item:not(:last-child) {
  margin-right: 3rem;
}

.header-bottom__item::before {
  content: "";
  width: 35%;
  height: 0.3rem;
  background-color: #e88183;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-bottom__item:hover {
  opacity: 1;
}

.header-bottom__item:hover::before {
  opacity: 1;
}

.header-bottom__item.active {
  opacity: 1;
}

.header-bottom__item.active::before {
  opacity: 1;
}

.header-bottom__number {
  font-size: 2.4rem;
  font-weight: bold;
}

.header-bottom__text {
  font-size: 1.8rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header-top__item:not(:first-child) {
    margin-left: 5.5rem;
  }
  .header-top__link {
    display: inline-block;
    color: white;
    border-bottom: 3px solid transparent;
    padding-bottom: 1.2rem;
  }
  .header-top__link:hover {
    color: #eed789;
    border-bottom-color: #eed789;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: unset;
  }
  .header .header-content__title {
    font-size: 11rem;
  }
  .header .header__content {
    padding: 8rem 0 12rem;
  }
}

@media screen and (max-width: 767px) {
  .header .header-top__toggle {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header .header-top__menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20rem;
    background-color: white;
    padding: 2rem 2.5rem;
    z-index: 2;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .header .header-top__menu.expand {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .header-top__item {
    margin-bottom: 1rem;
  }
  .header .header-top__link {
    color: #999999;
    width: 100%;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
  }
  .header .header-top__link:hover {
    background-color: #eed789;
    color: white;
  }
  .header .header-top__icon {
    display: block;
    color: #999999;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
  }
  .header .header-top__icon:hover {
    color: #e88183;
    background-color: #eed789;
  }
  .header .header-content__caption {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .header .header-content__title {
    font-size: 4.5rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
  }
  .header .header__content {
    padding: 4rem 0 5rem;
  }
  .header .header-bottom__text {
    display: none;
  }
  .header .header-bottom__item {
    padding-top: 1.5rem;
    text-align: center;
  }
  .header .header-bottom__item::before {
    width: 35%;
  }
}

.about {
  padding: 9rem 0 11rem;
}

.about-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.about-item {
  position: relative;
}

.about-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #95e1d3;
  z-index: -1;
}

.about-item:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translate(-1rem, -1rem);
          transform: translate(-1rem, -1rem);
}

.about-item:hover::after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translate(1rem, 1rem);
          transform: translate(1rem, 1rem);
}

.about-item:hover .about-content {
  opacity: 1;
  visibility: visible;
}

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 129, 131, 0.8)), to(rgba(238, 215, 137, 0.8)));
  background: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(238, 215, 137, 0.8));
  color: white;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.about-icon {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.about-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  white-space: pre-wrap;
}

@media screen and (max-width: 767px) {
  .about {
    padding: 4rem 0 6rem;
  }
  .about-item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .about-list {
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    grid-auto-columns: 80%;
    grid-auto-flow: column;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1rem;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  }
  .about-list::-webkit-scrollbar {
    display: none;
  }
  .about-item {
    scroll-snap-align: start;
  }
}

.number {
  background-color: #95e1d3;
}

.number-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27rem;
}

.number-item {
  height: 100%;
  padding: 8rem 0 8.5rem;
  color: white;
  width: 20%;
  text-align: center;
  border-left: 1px solid #b5eae0;
}

.number-item:last-child {
  border-right: 1px solid #b5eae0;
}

.number-count {
  font-weight: bold;
  font-size: 7.2rem;
  padding-bottom: 1.5rem;
}

.number-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .number-list {
    height: auto;
    display: block;
  }
  .number-item {
    padding: 2rem 0;
    width: 100%;
    border-left: 0;
  }
  .number-item:not(:last-child) {
    border-bottom: 1px solid #b5eae0;
  }
  .number-item:last-child {
    border-right: 0;
  }
  .number-count {
    font-size: 4.8rem;
    padding-bottom: 1rem;
  }
  .number-text {
    font-size: 1rem;
  }
}

.services {
  padding: 11rem 0 12rem;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0;
  border-bottom: 1px solid #999999;
}

.services-list:nth-child(1) {
  display: none;
}

.services-item {
  width: calc(33.33% - 4rem);
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999999;
}

.services-icon {
  font-size: 3.4rem;
  margin: 2px 3rem 0 3rem;
}

.services-title {
  font-size: 1.4rem;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.services-desc {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=styles.css.map */