section.about 
    .container 
        +block-Header({
            caption: "What we do",
            title: "story about us",
            desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto nostrum voluptate, magnam nulla possimus. Dolor dolores quasi facere voluptate error natus, nihil cumque in expedita laborum totam deserunt beatae."
        })
        .about-list 
            +aboutItem({
                src: "../images/img-about1.png",
                alt: "#",
                iconClass: "fa fa-home",
                title: "super team"
            })
            +aboutItem({
                src: "../images/img-about2.png",
                alt: "#",
                iconClass: "fa fa-home",
                title: "super team"
            })
            +aboutItem({
                src: "../images/img-about3.png",
                alt: "#",
                iconClass: "fa fa-home",
                title: "super team"
            })
           
            