footer.footer 
    .container
        .footer-top 
            .footer-column
                a.footer-logo(href= "#") MoGo
                p.footer-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil libero, pariatur provident consectetur voluptate veritatis vitae accusantium quo, natus est amet temporibus, labore voluptatum voluptates quasi eius dolores aperiam delectus!
                span.footer-follower <strong>15k</strong> followers
                .footer-social
                    span.footer-social-text Follow Us: 
                    .footer-social-list
                        a.footer-social-icon(href= "#")
                            i.fab.fa-facebook-f
                        a.footer-social-icon(href= "#")
                            i.fab.fa-twitter
                        a.footer-social-icon(href= "#")
                            i.fab.fa-instagram
                        a.footer-social-icon(href= "#")
                            i.fab.fa-pinterest-p
                        a.footer-social-icon(href= "#")
                            i.fab.fa-google-plus-g
                        a.footer-social-icon(href= "#")
                            i.fab.fa-youtube
                        a.footer-social-icon(href= "#")
                            i.fab.fa-dribbble
                        a.footer-social-icon(href= "#")
                            i.fab.fa-tumblr
                form.footer-form(action="#")
                    input.footer-form-input(input= "email", placeholder= "Your Email...") 
                    button.footer-form-submit Subscribe
            .footer-column
                h3.footer-heading Blogs
                .footer-blog 
                    a.footer-blog-item(href= "#")
                        img.footer-blog-img(src= "../images/img-blogs1.png")
                        .footer-blog-info    
                            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit 
                            span.footer-blog-date Jan 9, 2022
                    a.footer-blog-item(href= "#")
                        img.footer-blog-img(src= "../images/img-blogs2.png")
                        .footer-blog-info    
                            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit 
                            span.footer-blog-date Jan 9, 2022
                    a.footer-blog-item(href= "#")
                        img.footer-blog-img(src= "../images/img-blogs3.png")
                        .footer-blog-info    
                            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit 
                            span.footer-blog-date Jan 9, 2022
            .footer-column
                h3.footer-heading Instagram
                .footer-images 
                    .footer-img
                        img(src= "../images/img-instagram1.png")
                    .footer-img
                        img(src= "../images/img-instagram2.png")
                    .footer-img
                        img(src= "../images/img-instagram3.png")
                    .footer-img
                        img(src= "../images/img-instagram4.png")
                    .footer-img
                        img(src= "../images/img-instagram5.png")
                    .footer-img
                        img(src= "../images/img-instagram6.png")
                    .footer-img
                        img(src= "../images/img-instagram7.png")
                    .footer-img
                        img(src= "../images/img-instagram8.png")
                    .footer-img
                        img(src= "../images/img-instagram9.png")
                a.footer-images-text(href= "#") View more photos
        .footer-bottom &copy: 2016 MoGo free PSD template by <span>Laaqiq<span>
        
