section.number
    .container
        .number-list
            +number-item({
                count: "42",
                text: "web design projects"
            })
            +number-item({
                count: "123",
                text: "happy client"
            })
            +number-item({
                count: "15",
                text: "award winner"
            })
            +number-item({
                count: "99",
                text: "cup of coffee"
            })
            +number-item({
                count: "24",
                text: "member"
            })

            