section.people
    .container 
        +block-Header({
            caption: "Happy clients",
            title: "What people say"
        })
        ul.people-list
            +peopleItem({
                src: "../images/img-people1.png",
                name: "Matthew dix",
                job: "Graphic Design",
                desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque accusamus eos soluta labore hic perferendis architecto aperiam, consequatur harum pariatur debitis quo enim suscipit sint tempora quae nam at eaque!"
            })
            +peopleItem({
                src: "../images/img-people2.png",
                name: "Nick Karvounis",
                job: "Graphic Design",
                desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque accusamus eos soluta labore hic perferendis architecto aperiam, consequatur harum pariatur debitis quo enim suscipit sint tempora quae nam at eaque!"
            })
            +peopleItem({
                src: "../images/img-people3.png",
                name: "Jealynn Castillo",
                job: "Graphic Design",
                desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque accusamus eos soluta labore hic perferendis architecto aperiam, consequatur harum pariatur debitis quo enim suscipit sint tempora quae nam at eaque!"
            })
            +peopleItem({
                src: "../images/img-people4.png",
                name: "Mike Petrucci",
                job: "Graphic Design",
                desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque accusamus eos soluta labore hic perferendis architecto aperiam, consequatur harum pariatur debitis quo enim suscipit sint tempora quae nam at eaque!"
            })
                  