section.services
    .container 
        +block-Header({
            caption: "We work with",
            title: "amazing services"
        })        
        .services-list
            +services-item({
                src: "../images/img-service-icon1.png",
                title: "photography", 
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam mollitia repellat aperiam in neque consequuntur commodi distinctio perspiciatis maiores"
            })
            +services-item({
                src: "../images/img-service-icon2.png",
                title: "web disign", 
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam mollitia repellat aperiam in neque consequuntur commodi distinctio perspiciatis maiores"
            })
            +services-item({
                src: "../images/img-service-icon3.png",
                title: "creativity", 
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam mollitia repellat aperiam in neque consequuntur commodi distinctio perspiciatis maiores"
            })
        .services-list
            +services-item({
                src: "../images/img-service-icon4.png",
                title: "seo", 
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam mollitia repellat aperiam in neque consequuntur commodi distinctio perspiciatis maiores"
            })
            +services-item({
                src: "../images/img-service-icon5.png",
                title: "css/html", 
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam mollitia repellat aperiam in neque consequuntur commodi distinctio perspiciatis maiores"
            })
            +services-item({
                src: "../images/img-service-icon6.png",
                title: "digital", 
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam mollitia repellat aperiam in neque consequuntur commodi distinctio perspiciatis maiores"
            })
            