section.slide
    .container
        .slide-container
            +slideItem({
                value: false,
                src:  "../images/img-quote-avatar.png",
                text: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore maxime illum veritatis. Aliquam voluptas, exercitationem ducimus, sit dolore eveniet explicabo, alias unde similique incidunt eligendi vel? Quo, iusto soluta! Officiis.",
                author: "Jon Doe"
            })
            +slideItem({
                value: false,
                src:  "https://images.unsplash.com/photo-1647343119486-34d8df32b54d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60",
                text: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore maxime illum veritatis. Aliquam voluptas, exercitationem ducimus, sit dolore eveniet explicabo, alias unde similique incidunt eligendi vel? Quo, iusto soluta! Officiis.",
                author: "Jon Doe"
            })
            +slideItem({
                value: false,
                src:  "https://images.unsplash.com/photo-1611548058950-9bd45b245258?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60",
                text: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore maxime illum veritatis. Aliquam voluptas, exercitationem ducimus, sit dolore eveniet explicabo, alias unde similique incidunt eligendi vel? Quo, iusto soluta! Officiis.",
                author: "Jon Doe"
            })
