section.wedo 
    .container 
        +block-Header({
            caption: "Service",
            title:  "what we do",
            desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod totam facilis dignissimos repellat ut ipsam id laudantium similique dolorem vitae quaerat hic, nisi eius itaque dolore in iure temporibus quisquam!"
        })
        .wedo-container
            img.wedo-img(src= "../images/img-wedo.png")
            .wedo-content
                +wedoItem({
                    src: "../images/img-wedo-icon1.png",
                    title:  "Photography",
                    desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus.  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus.",
                    active: "active"
                })
                +wedoItem({
                    src: "../images/img-wedo-icon2.png",
                    title:  "Creativity",
                    desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus.  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus.",
                    active: ""
                })
                +wedoItem({
                    src: "../images/img-wedo-icon3.png",
                    title:  "Web disign",
                    desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus.  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia reiciendis laudantium ut, voluptatum dolores nulla iusto magnam cupiditate tenetur libero voluptatem eligendi! Ullam explicabo sapiente nulla? Asperiores voluptatibus sapiente doloribus.",
                    active: ""
                })
                