section.work
    .container
        +block-Header({
            caption: "What we do",
            title: "Some of out work",
            desc:  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ducimus maxime, accusantium, sunt sint, asperiores et unde quidem esse praesentium optio placeat temporibus. Dolor facere debitis explicabo laboriosam quos quidem."
        })
    .work-list
        .work-column
            +workItem({
                src: "../images/img-work1.png",
                srcIcon: "../images/img-work-icon.png",
                title: "Creatively designed",
                desc:  "Lorem ipsum dolor sit"
            }) 
            +workItem({
                src: "../images/img-work3.png",
                srcIcon: "../images/img-work-icon.png",
                title: "Creatively designed",
                desc:  "Lorem ipsum dolor sit"
            })
        .work-column    
            +workItem({
                src: "../images/img-work2.png",
                srcIcon: "../images/img-work-icon.png",
                title: "Creatively designed",
                desc:  "Lorem ipsum dolor sit"
            }) 
            +workItem({
                src: "../images/img-work4.png",
                srcIcon: "../images/img-work-icon.png",
                title: "Creatively designed",
                desc:  "Lorem ipsum dolor sit"
            }) 
        .work-column
            +workItem({
                src: "../images/img-work5.png",
                srcIcon: "../images/img-work-icon.png",
                title: "Creatively designed",
                desc:  "Lorem ipsum dolor sit", 
                classFull: "work-item--full" 
            }) 
        .work-column    
            +workItem({
                src: "../images/img-work6.png",
                srcIcon: "../images/img-work-icon.png",
                title: "Creatively designed",
                desc:  "Lorem ipsum dolor sit"
            }) 
            +workItem({
                src: "../images/img-work7.png",
                srcIcon: "../images/img-work-icon.png",
                title: "Creatively designed",
                desc:  "Lorem ipsum dolor sit"
            }) 

    