.about {
  padding: 9rem 0 11rem;
  &-list {
    //  flexbox
    // display: flex;
    // flex-wrap: wrap;
    // margin-left: -3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }

  // &-item {
  //   // width: calc(33.33% - 30px);
  //   // margin-left: 3rem;

  //   position: relative;
  //   &::after {
  //     content: "";
  //     @include absoluteFull();
  //     @include bgc($third-color);
  //     z-index: -1;
  //   }
  //   &:hover {
  //     transition: all 0.2s linear;
  //     transform: translate(-1rem, -1rem);
  //     &::after {
  //       transition: all 0.2s linear;
  //       transform: translate(1rem, 1rem);
  //     }
  //     .about-content {
  //       opacity: 1;
  //       visibility: visible;
  //     }
  //   }
  // }

  &-content {
    // @include absoluteFull();
    // background: linear-gradient(
    //   to bottom,
    //   rgba($primary-color, 0.8),
    //   rgba($secondary-color, 0.8)
    // );
    // opacity: 0;
    // visibility: hidden;
    // transition: all 0.2s linear;
    @include flexbox(center, center);
    flex-direction: column !important;
    color: white;
    text-transform: uppercase;
  }
  &-icon {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  &-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;

    @include textClamp();
  }

  @include maxWidth(767px) {
    padding: 4rem 0 6rem;
    &-item {
      width: 100%;
      margin-bottom: 2rem;
    }
    &-list {
      grid-template-columns: unset;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      overflow-x: auto;
      @include hideScroll();

      padding: 1rem;

      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
    }
    &-item {
      scroll-snap-align: start;
    }
  }
}

@include layerGradient(".about-item", ".about-content");
