.people {
  padding: 11rem 0 12rem;
  background: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0.8)),
    url(../images/img-people-bg.png) no-repeat center / cover;

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7rem 5rem;
    padding-top: 4rem;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &-avt {
    @include size(11rem);
    object-fit: cover;
    margin: 0 3rem;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &-name {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: $title-color;
  }

  &-job {
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-style: italic;
    color: #595959;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      @include size(6rem, 0.3rem);
      background-color: $primary-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &-desc {
    font-family: $secondary-font;
    font-size: 1.5rem;
    color: $text-color;
    line-height: 1.6;
    margin-right: 3rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include maxWidth(1023px) {
    &-list {
      grid-template-columns: 1fr;
      grid-row-gap: 4rem;
      padding-top: 0;
    }
  }

  @include maxWidth(767px) {
    padding: 6rem 0;
    &-avt {
      margin: 0;
      margin-right: 2rem;
      @include size(8rem);
    }
    &-info {
      margin: 0;
    }

    &-name {
      margin-bottom: 1rem;
    }

    &-job {
      padding-bottom: 1.5rem;
      margin-bottom: 1rem;
    }
    &-desc {
      margin-right: 0;
    }
  }
}
