html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 1.4rem; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-header {
  max-width: 95rem;
  text-align: center;
  margin: 0 auto; }
  .block-header__caption {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    margin-bottom: 2.4rem; }
  .block-header__title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 4rem;
    margin-bottom: 4.5rem;
    position: relative; }
    .block-header__title::after {
      content: "";
      width: 6rem;
      height: 0.3rem;
      background-color: #e88183;
      bottom: 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .block-header__desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #999999;
    line-height: 1.4;
    margin-bottom: 10rem; }
  @media screen and (max-width: 767px) {
    .block-header__caption {
      font-size: 2rem;
      margin-bottom: 1.6rem; }
    .block-header__title {
      font-size: 2.5rem;
      padding-bottom: 2rem;
      margin-bottom: 2.5rem; }
    .block-header__desc {
      font-size: 1.2rem;
      margin-bottom: 3rem; } }

.header {
  min-height: 100rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 129, 131, 0.8)), to(rgba(238, 215, 137, 0.8))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(238, 215, 137, 0.8)), url("../images/img-header-bg.jpg") no-repeat center/cover; }
  .header__top {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .header-top__logo {
    font-weight: bold;
    font-size: 3rem;
    color: white; }
  .header-top__toggle {
    color: white;
    cursor: pointer;
    display: none; }
  .header-top__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-top__link {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear; }
  .header-top__icon {
    color: white; }
  .header__content {
    max-width: 85rem;
    padding: 16rem 0 15rem;
    text-align: center;
    margin: 0 auto; }
  .header-content__caption {
    font-family: "Kaushan Script", cursive;
    font-size: 7.2rem;
    color: white;
    margin-bottom: 4rem; }
  .header-content__title {
    font-size: 15rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5rem;
    margin-bottom: 5rem; }
    .header-content__title::after {
      content: "";
      width: 6rem;
      height: 0.3rem;
      background-color: white;
      bottom: 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .header-content__button {
    display: inline-block;
    padding: 1.2rem 3rem;
    border: 3px solid white;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: bold; }
  .header__bottom {
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header-bottom__item {
    color: white;
    border-top: 0.3rem solid white;
    width: calc(25% - 2.3rem);
    padding-top: 25px;
    opacity: 0.6;
    position: relative;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .header-bottom__item:not(:last-child) {
      margin-right: 3rem; }
    .header-bottom__item::before {
      content: "";
      width: 35%;
      height: 0.3rem;
      background-color: #e88183;
      opacity: 0;
      top: 0;
      left: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      position: absolute;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .header-bottom__item:hover {
      opacity: 1; }
      .header-bottom__item:hover::before {
        opacity: 1; }
    .header-bottom__item.active {
      opacity: 1; }
      .header-bottom__item.active::before {
        opacity: 1; }
  .header-bottom__number {
    font-size: 2.4rem;
    font-weight: bold; }
  .header-bottom__text {
    font-size: 1.8rem;
    margin-left: 1rem;
    text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .header-top__item:not(:first-child) {
      margin-left: 5.5rem; }
    .header-top__link {
      display: inline-block;
      color: white;
      border-bottom: 3px solid transparent;
      padding-bottom: 1.2rem; }
      .header-top__link:hover {
        color: #eed789;
        border-bottom-color: #eed789; } }
  @media screen and (max-width: 1024px) {
    .header {
      min-height: unset; }
      .header .header-content__title {
        font-size: 11rem; }
      .header .header__content {
        padding: 8rem 0 12rem; } }
  @media screen and (max-width: 767px) {
    .header .header-top__toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .header .header-top__menu {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 20rem;
      background-color: white;
      padding: 2rem 2.5rem;
      z-index: 2;
      -webkit-transform: translateX(100%);
      transform: translateX(100%); }
      .header .header-top__menu.expand {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
    .header .header-top__item {
      margin-bottom: 1rem; }
    .header .header-top__link {
      color: #999999;
      width: 100%;
      padding: 1.5rem 2rem;
      border-radius: 0.5rem; }
      .header .header-top__link:hover {
        background-color: #eed789;
        color: white; }
    .header .header-top__icon {
      display: block;
      color: #999999;
      padding: 1.5rem 2rem;
      border-radius: 0.5rem; }
      .header .header-top__icon:hover {
        color: #e88183;
        background-color: #eed789; }
    .header .header-content__caption {
      font-size: 3rem;
      margin-bottom: 2rem; }
    .header .header-content__title {
      font-size: 4.5rem;
      padding-bottom: 3rem;
      margin-bottom: 4rem; }
    .header .header__content {
      padding: 4rem 0 5rem; }
    .header .header-bottom__text {
      display: none; }
    .header .header-bottom__item {
      padding-top: 1.5rem;
      text-align: center; }
      .header .header-bottom__item::before {
        width: 35%; } }

.about {
  padding: 9rem 0 11rem; }
  .about-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .about-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    color: white;
    text-transform: uppercase; }
  .about-icon {
    font-size: 2.5rem;
    padding-bottom: 1rem; }
  .about-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap; }
  @media screen and (max-width: 767px) {
    .about {
      padding: 4rem 0 6rem; }
      .about-item {
        width: 100%;
        margin-bottom: 2rem; }
      .about-list {
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 1rem;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always; }
        .about-list::-webkit-scrollbar {
          display: none; }
      .about-item {
        scroll-snap-align: start; } }

.about-item {
  position: relative; }
  .about-item > * {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .about-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    z-index: -1; }
  .about-item:hover > * {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
  .about-item:hover .about-content {
    opacity: 1;
    visibility: visible; }

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 129, 131, 0.8)), to(rgba(238, 215, 137, 0.8)));
  background-image: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(238, 215, 137, 0.8));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.number {
  background-color: #95e1d3; }
  .number-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 27rem; }
  .number-item {
    height: 100%;
    padding: 8rem 0 8.5rem;
    color: white;
    width: 20%;
    text-align: center;
    border-left: 1px solid #b5eae0; }
    .number-item:last-child {
      border-right: 1px solid #b5eae0; }
  .number-count {
    font-weight: bold;
    font-size: 7.2rem;
    padding-bottom: 1.5rem; }
  .number-text {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.4; }
  @media screen and (max-width: 767px) {
    .number-list {
      height: auto;
      display: block; }
    .number-item {
      padding: 2rem 0;
      width: 100%;
      border-left: 0; }
      .number-item:not(:last-child) {
        border-bottom: 1px solid #b5eae0; }
      .number-item:last-child {
        border-right: 0; }
    .number-count {
      font-size: 4.8rem;
      padding-bottom: 1rem; }
    .number-text {
      font-size: 1rem; } }

.services {
  padding: 11rem 0 12rem; }
  .services-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .services-list:nth-child(2) {
      margin-top: 6.5rem;
      border-bottom: 1px solid #999999;
      padding-bottom: 5rem;
      margin-bottom: 5rem; }
  .services-item {
    width: calc(33.33% - 2.7rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #999999; }
  .services-icon {
    width: 3.4rem;
    margin: 2px 3rem 0 3rem; }
  .services-content {
    width: calc(100% - 9.4rem);
    height: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .services-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; }
  .services-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; }
  @media screen and (min-width: 1024px) {
    .services-list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 4rem; }
    .services-item {
      width: auto; } }
  @media screen and (max-width: 1023px) {
    .services {
      padding: 6rem 0; }
      .services-list {
        display: block; }
        .services-list:nth-child(2) {
          margin: 5rem 0 4rem;
          padding-bottom: 4rem; }
      .services-item {
        width: 100%; }
        .services-item:not(:last-child) {
          margin-bottom: 3rem; }
      .services-title {
        padding-bottom: 1rem; } }
  @media screen and (max-width: 767px) {
    .services-icon {
      margin: 2px 2rem 0 2rem; } }

.device {
  padding-top: 11rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 248, 248, 0.8)), to(rgba(245, 245, 245, 0.8))), url(../images/img-device-bg.png) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0.8), rgba(245, 245, 245, 0.8)), url(../images/img-device-bg.png) no-repeat center/cover; }
  .device-img {
    margin-bottom: -9.3rem;
    display: inline-block;
    position: relative;
    left: calc(50% + 1rem);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  @media screen and (max-width: 767px) {
    .device {
      padding-top: 6rem; }
      .device-img {
        max-width: 80%;
        margin-bottom: -4.6rem; } }
  @media screen and (max-width: 413px) {
    .device-img {
      max-width: 80%;
      margin-bottom: -4.2rem; } }
  @media screen and (max-width: 374px) {
    .device-img {
      max-width: 80%;
      margin-bottom: -3.5rem; } }

.wedo {
  padding: 11rem 0 12rem; }
  .wedo-container {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .wedo-img, .wedo-content {
    width: calc(50% - 1.5rem); }
  .wedo-img {
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo-item:not(:last-child) {
    margin-bottom: 1rem; }
  .wedo-item.active .wedo-item-content {
    display: block; }
  .wedo-item-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    border: 1px solid #cccccc; }
  .wedo-item-img {
    margin-right: 1.5rem; }
  .wedo-item-title {
    text-transform: uppercase;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis; }
  .wedo-item-icon {
    margin-left: auto;
    font-size: 3rem;
    color: #cccccc; }
  .wedo-item-content {
    padding: 2rem;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.4;
    border: 1px solid #cccccc;
    border-top: 0;
    display: none; }
  .wedo-item-text {
    height: 14.5rem;
    overflow-y: auto; }
    .wedo-item-text::-webkit-scrollbar {
      width: 0.5rem; }
    .wedo-item-text::-webkit-scrollbar-track {
      border-radius: 0.5rem;
      background-color: #f5f5f5; }
    .wedo-item-text::-webkit-scrollbar-thumb {
      background-color: #95e1d3;
      border-radius: 0.5rem; }
  @media screen and (max-width: 767px) {
    .wedo {
      padding: 6rem 0; }
      .wedo-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .wedo-img, .wedo-content {
        width: 100%; }
      .wedo-img {
        margin-bottom: 1rem; } }

.slide {
  background-color: #f8f8f8;
  padding: 7rem 0; }
  .slide-icon {
    color: #cccccc;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 2rem; }
  .slide-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 5.5rem; }
    .slide-item-img {
      width: 15rem;
      height: 15rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      border: 3px solid #95e1d3;
      margin-right: 6rem; }
    .slide-item-people {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 3rem; }
      .slide-item-people img {
        width: 21rem;
        height: 21rem;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover; }
    .slide-item-text {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 2.4rem;
      color: #999999;
      font-style: italic;
      line-height: 1.4;
      margin-bottom: 2rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis; }
    .slide-item-author {
      font-family: "Kaushan Script", cursive;
      font-size: 2.4rem;
      position: relative;
      padding-left: 7rem; }
      .slide-item-author::before {
        content: "";
        width: 6rem;
        height: 0.3rem;
        background-color: #e88183;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
  .slide .slick-initialized .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slide .slick-arrow {
    background-color: transparent;
    color: #cccccc;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 2rem;
    border: none;
    position: absolute;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10; }
  .slide .slick-prev {
    left: 0; }
  .slide .slick-next {
    right: 0; }
  @media screen and (max-width: 767px) {
    .slide {
      padding: 6rem 0; }
      .slide-icon {
        display: none; }
      .slide-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0; }
        .slide-item-img {
          width: 10rem;
          height: 10rem;
          margin-right: 0; }
          .slide-item-img img {
            max-width: 50%; }
        .slide-item-box {
          padding: 0; }
        .slide-item-text {
          display: block;
          font-size: 2rem;
          margin-top: 2rem;
          text-align: center; }
        .slide-item-author {
          font-size: 2.2rem; } }

.team {
  --image-height: 47rem;
  padding: 11rem 0 12rem; }
  .team-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .team-item {
    text-align: center; }
    .team-item-img {
      width: 100%;
      height: var(--image-height);
      -o-object-fit: cover;
      object-fit: cover; }
    .team-item-icon {
      width: 5.5rem;
      height: 5.5rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 2.5rem;
      background-color: #eed789;
      color: #e88183;
      cursor: pointer; }
      .team-item-icon:not(:first-child) {
        margin-left: 0.1rem; }
      .team-item-icon:hover {
        color: white;
        background-color: #e88183; }
    .team-item-info {
      height: calc(100% - var(--image-height));
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .team-item-author {
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 3rem;
      margin-bottom: 1.5rem; }
    .team-item-text {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 300;
      color: #999999; }
  @media screen and (max-width: 1023px) {
    .team-list {
      -ms-grid-columns: unset;
      grid-template-columns: unset;
      grid-auto-columns: 55%;
      grid-auto-flow: column;
      grid-column-gap: 2.5rem;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding: 1rem;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always; }
      .team-list::-webkit-scrollbar {
        display: none; }
      .team-list > * {
        scroll-snap-align: start; } }

@media screen and (max-width: 1023px) and (max-width: 767px) {
  .team {
    --image-height: 40rem;
    padding: 6rem 0; }
    .team-list {
      -ms-grid-columns: unset;
      grid-template-columns: unset;
      grid-auto-columns: 95%;
      grid-auto-flow: column;
      grid-column-gap: 2.5rem;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding: 1rem;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always; }
      .team-list::-webkit-scrollbar {
        display: none; }
      .team-list > * {
        scroll-snap-align: start; } }

.brand {
  background-color: #f8f8f8;
  padding: 6rem; }
  @media screen and (max-width: 767px) {
    .brand {
      padding: 3rem; } }

.team-item-content {
  position: relative; }
  .team-item-content > * {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .team-item-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    z-index: -1; }
  .team-item-content:hover > * {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
  .team-item-content:hover .team-item-layer {
    opacity: 1;
    visibility: visible; }

.team-item-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 129, 131, 0.8)), to(rgba(238, 215, 137, 0.8)));
  background-image: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(238, 215, 137, 0.8));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.work {
  padding-top: 11rem; }
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 78rem; }
  .work-column {
    width: 25%; }
  .work-item {
    height: 50%; }
  .work-item--full {
    height: 100%; }
  .work-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .work-content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    color: white; }
  .work-icon {
    width: 3rem;
    height: 3rem; }
  .work-title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 500; }
  .work-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic; }
  @media screen and (max-width: 1600px) {
    .work-list {
      height: 60rem; } }
  @media screen and (max-width: 1279px) {
    .work-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: auto; }
    .work-column {
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .work {
      padding-top: 6rem; }
      .work-list {
        display: -ms-grid;
        display: grid;
        grid-auto-columns: 90%;
        grid-auto-flow: column;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always; }
        .work-list::-webkit-scrollbar {
          display: none; }
      .work-column {
        width: 100%;
        padding-left: 1rem;
        scroll-snap-align: start; }
        .work-column:nth-child(4) {
          padding-right: 1rem; }
      .work-item {
        margin-bottom: 1rem; } }

.work-item {
  position: relative; }
  .work-item > * {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .work-item:hover .work-content {
    opacity: 1;
    visibility: visible; }

.work-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 129, 131, 0.8)), to(rgba(238, 215, 137, 0.8)));
  background-image: linear-gradient(to bottom, rgba(232, 129, 131, 0.8), rgba(238, 215, 137, 0.8));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.people {
  padding: 11rem 0 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../images/img-people-bg.png) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/img-people-bg.png) no-repeat center/cover; }
  .people-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7rem 5rem;
    padding-top: 4rem; }
  .people-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .people-avt {
    width: 11rem;
    height: 11rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 3rem;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .people-name {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #333333; }
  .people-job {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #595959;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    position: relative; }
    .people-job::after {
      content: "";
      width: 6rem;
      height: 0.3rem;
      background-color: #e88183;
      position: absolute;
      bottom: 0;
      left: 0; }
  .people-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #999999;
    line-height: 1.6;
    margin-right: 3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis; }
  @media screen and (max-width: 1023px) {
    .people-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-row-gap: 4rem;
      padding-top: 0; } }
  @media screen and (max-width: 767px) {
    .people {
      padding: 6rem 0; }
      .people-avt {
        margin: 0;
        margin-right: 2rem;
        width: 8rem;
        height: 8rem; }
      .people-info {
        margin: 0; }
      .people-name {
        margin-bottom: 1rem; }
      .people-job {
        padding-bottom: 1.5rem;
        margin-bottom: 1rem; }
      .people-desc {
        margin-right: 0; } }

.blog {
  padding: 11rem 0 12rem; }
  .blog-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .blog-item {
    width: calc(33.33% - 2rem); }
  .blog-media {
    position: relative; }
  .blog-date {
    width: 6rem;
    height: 7rem;
    color: white;
    background-color: #95e1d3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: -1rem; }
    .blog-date-number {
      font-size: 3rem;
      font-weight: bold; }
    .blog-date-text {
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      font-weight: 300;
      font-style: italic; }
  .blog-title {
    margin: 2rem 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333; }
  .blog-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #999999;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap; }
  .blog-meta {
    color: #95e1d3;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: 1px solid #e5e5e5;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blog-meta-item {
      margin-right: 2rem; }
    .blog-meta-icon {
      margin-right: 1rem; }
  @media screen and (max-width: 767px) {
    .blog {
      padding: 6rem 0; }
      .blog-list {
        display: block; }
      .blog-item {
        width: 100%; }
      .blog-date {
        width: 5rem;
        height: 6rem;
        bottom: 1rem;
        left: -1rem; }
        .blog-date-number {
          font-size: 2.5rem; }
        .blog-date-text {
          font-size: 1.2rem; }
      .blog-title {
        margin: 1.5rem 0; }
      .blog-meta {
        margin-bottom: 3rem;
        padding-top: 1.5rem;
        margin-top: 1rem; } }

.map {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url("../images/img-map.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/img-map.png") no-repeat center/cover; }
  .map-content {
    padding: 5.5rem 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .map-img {
    margin-bottom: 2rem; }
  .map-title {
    font-size: 2.4rem;
    font-weight: bold;
    color: #e88183;
    text-transform: uppercase;
    padding-bottom: 2rem;
    position: relative; }
    .map-title::after {
      content: "";
      width: 6rem;
      height: 0.3rem;
      background-color: #e88183;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }

.footer {
  background-color: #f8f8f8; }
  .footer-top {
    padding: 7.5rem 0 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-column:nth-child(1) {
    width: calc(40% - 2.5rem); }
  .footer-column:nth-child(2) {
    width: calc(35% - 2.5rem); }
  .footer-column:nth-child(3) {
    width: calc(25% - 2.5rem); }
  .footer-logo {
    font-size: 4.6rem;
    font-weight: bold;
    color: #cccccc;
    margin-bottom: 3rem;
    display: inline-block; }
  .footer-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #999999;
    line-height: 1.6;
    margin-bottom: 5rem; }
  .footer-follower strong {
    font-weight: bold;
    font-size: 1.8rem; }
  .footer-social {
    padding-top: 1.5rem;
    margin-top: 2rem;
    border-top: 1px solid #e5e5e5;
    color: #999999;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-social-text {
      font-family: "Roboto", sans-serif;
      font-style: italic;
      font-size: 1.5rem; }
    .footer-social-icon {
      font-size: 1.6rem;
      margin-left: 1.5rem;
      color: #999999; }
  .footer-form {
    margin-top: 4rem;
    width: 100%;
    max-width: 38rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-form-input {
      width: 100%;
      padding: 1.5rem;
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      outline: none;
      border: 1px solid #e5e5e5; }
    .footer-form-submit {
      font-weight: bold;
      font-size: 1.4rem;
      color: white;
      background-color: #95e1d3;
      border: 1px solid #95e1d3;
      border: none;
      padding: 1.5rem 2.6rem;
      outline: none;
      text-transform: uppercase;
      cursor: pointer;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
  .footer-heading {
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
    margin-bottom: 4rem;
    margin-top: 1rem; }
  .footer-blog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-blog-item:not(:last-child) {
      margin-bottom: 4rem; }
  .footer-blog-info {
    margin-left: 2rem; }
  .footer-blog-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: #333333; }
  .footer-blog-date {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: #999999; }
  .footer-images {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -0.2rem; }
  .footer-img {
    width: calc(33.33% - 0.2rem);
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    padding-bottom: 33.33%;
    height: 0;
    position: relative; }
    .footer-img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
  .footer-images-text {
    margin-top: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    color: #333333;
    display: block; }
  .footer-bottom {
    padding: 2.5rem 0;
    color: #333333;
    font-weight: 500;
    text-align: center;
    border-top: 1px solid #e5e5e5; }
    .footer-bottom span {
      color: #e88183;
      cursor: pointer; }
  @media screen and (max-width: 1023px) {
    .footer-top {
      display: block;
      padding: 6rem 0 2rem; }
    .footer-column:not(:nth-child(99)) {
      width: 100%; }
    .footer-column:not(:last-child) {
      margin-bottom: 5rem; }
    .footer-logo {
      display: block;
      text-align: center; }
    .footer-heading {
      margin-bottom: 2rem;
      text-align: center; }
    .footer-desc {
      margin-bottom: 2rem; }
    .footer-form {
      margin-top: 2rem; } }
